* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-container {
  max-width: 800px;
  padding-top: 50px;
  padding-inline: 20px;
  margin-inline: auto;
}
span#error {
  font-size: 14px;
  display: block;
  color: red;
  margin-bottom: 10px;
}
